PORT=8084 # where is the server exposed to

NOTION_PAGE_URL=http://notion.example.com # link or id for the notion page to track
LINKS_STORE=./links_cache.json # location for the links cache
RSS_TITLE=Notion Feed # title for the feed
RSS_OUTPUT=./public/feed # location for the rss feed, remember to update docker-compose if this changes